
<div class = "jumbotron">
  <h1>About nyWiki</h1>
  <h4> Here, we post resources and materials that Kimberly finds interesting. </h4>
</div>
<div class="row">
  <div class="col-md-4">
    <h2>Physics</h2>
    <p>Kimberly is an avid reader of Physics topics</p>
  </div>
  <div class="col-md-4">
    <h2>Business</h2>
    <p>Kimberly loves to stay current on industry trends</p>
  </div>
  <div class="col-md-4">
    <h2>Software</h2>
    <p>Kimberly is a student at Bloc</p>
  </div>
</div>
