// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

img {
  max-width:100%;
  max-height:100%;
}

.container {
  text-align: left;
  width: 100%;
}

#header {
  padding-top: 4rem;
  background: url('/assets/beer-bg-2.jpg');
  background-position: center;
  background-size: cover;
  text-shadow: 0 3px 5px rgba(0,0,0,.4);
  width: 100%;
  color: white;
  height: 35rem;
}

#banner {
  padding-top: 1rem;
  color: black;
  text-align: center;
  text-shadow: 0 2px 4px rgba(0,0,0,.4);
  height: 7rem;
  width: 100%;
}

#about {
  text-shadow: 0 1px 3px rgba(0,0,0,.4);
  text-align: center;
  color: black;
  width: 100%;
}

.social-container {
  line-height: 200%;
}

.social-btn {
  background-color: rgba(242, 242, 242, 0.75);
  padding: 5px 10px;
  margin: 0px 2px;
}

.social-btn:hover {
  text-decoration: none;
  background-color: white;
  padding: 5px 10px;
  margin: 0px 10px;
  cursor: pointer;
}
